<ion-content style="position: relative;">

  
  <app-header [loggedin]="loggedin"></app-header>


   
  <ion-slides [options]="slideOptsOne" pager="true" (click)="bodyclick()" *ngIf="!isSearching">
      <ion-slide *ngFor="let item of topStories">
       
            <ion-img [src]="item.image" style="position: relative" ></ion-img>
            <h2 *ngIf="status" style="color: rgb(19, 199, 58); font-weight:bold;">{{fname}}</h2>
            <h1>University of Ilorin<br> Offline E-resources Repository</h1>
      </ion-slide>
     </ion-slides>
    


  <ion-grid class="wrap">
    <ion-row>
     
      <ion-col class="wcol" padding>
          <div class="head">E-books</div>
          <div class="subhead">
              <ion-list padding >
                  <ion-item *ngFor="let ebook of ebooks" (click)="sgoto()">
                    <!-- <h6 slot="start">{{Notice.id}}</h6> -->
                   {{ebook.file_title}}
                  </ion-item>
                </ion-list>
          </div>
      </ion-col>


      <ion-col class="wcol" padding>
          <div class="head">E-journals</div>
          <div class="subhead">
              <ion-list padding >
                  <ion-item *ngFor="let journal of journals" (click)="jgoto()">
                    <!-- <h6 slot="start">{{Notice.id}}</h6> -->
                   {{journal.file_title}}
                  </ion-item>
                </ion-list>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>


  

