.head{
    --padding-top: 10px;
}
ion-icon{
    transition: 1s;
    position: absolute;
    right: 30px;
}

ion-icon:hover{
    cursor: pointer;
    transform: rotate(180deg);
    font-size: 30px;
}

form {
    margin: 0;
    font: inherit;
    color: inherit;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

form > ion-item{
    width: 80%;
    --padding-start: 5px;
}

